
  body {
  	color: #765435;
  	background-color: #765435;
  	background-image: url("img/back.jpg");
    width: auto;
  	background-position:center;
    background-size:cover;
  	font-family: Georgia, Times, serif;
  	line-height: 1.4em;
  	margin: 0px;
  }
    header {
    	height:250px;
      	color: #989766;
    }

    footer {
      color: #fff;
    	background-color: #000000;
    	height: 50px;
      	padding: 5px 0px 5px 30px;
        text-align: center;
  }
  nav {
	color: #fff;
	background-color: #000000;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li {
	display: inline;
	margin-right: 40px;
}
#container{
  width: 730px;
  margin: 0 auto;
}


  .inputsearch{
    position: absolute;
    margin-left: 80%;
    margin-top: -30px;
  }
  .separator{
    width: 20%;
    padding: px;
}

  }
  .atas {
    color: #354637;
    text-align:left;
  }
  .right {
    color: #fff;
  }

  #article-list {
      	color: #FFF;
  	overflow: auto;
  	width: 100%;
    text-align: center;
  }

  p {
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    margin: auto;
  }
table {
  margin:350px;
}
a {
  color: #fff;
}
h1 {
  color: #000000;
  text-decoration:underline;
  text-decoration-color: #000000;
  height: 0px;
  width: auto;
}
