    body {
  font-family: 'Slabo 27px', serif;
  background-image: url("img/back.png");
  background-color: #FFF;
  height: 100%;
}

#nav {
  font-family:Arial;
  font-size:20px;
  float: right;
}

#article-list{
margin: 200px;
padding:150px;
text-align:inherit;
background-color: #fff;
}
#logo{
  display: inline-block;
  float: left;
}
h1 {
  font-size: 50px;
  text-align:center;
}
a {
  color: #3366ff;
  text-align: left;
}
p{
  border: 1px: #000000;
  line-height: normal;
}

.header{
  width: 100%;
  position: fixed;
    font-family:Arial;
    font-size:30px;
    color:#fff;
    text-align:right;
  }
  .right {
    display:inline-flex;
    text-align: right;
    list-style:none;
  }

.footer
{
background-color:black;
font-family:Arial;
font-size:15px;
color:#fff;
padding:20px 20px 20px 20px;
text-align:center;
}
