header{
    background-color: #FFFFFF ;
    width: 100%;
    position:fixed;
    top:0px;
    left:0px;
    right: 0px;

}
    body {
  font-family: 'Slabo 27px', serif;
  background-image: url("img/back.png");
  background-color: #FFF;

}

nav {
  font-family:Arial;
  font-size:20px;
  padding-right: 10px;
  list-style:none;
  height: 20px;
  margin:0px
}

#article-list{
margin: 200px;
padding:150px;
text-align:inherit;
background-color: #fff;
cursor: auto;
}

h1 {
  font-size: 50px;
  text-align:center;
  margin: 60px;
}
a {
  color: #3366ff;
  text-align: left;
}
p{
  line-height: normal;
  padding-bottom:0px;
}
  .right {
     margin: 0px;
    display:inline-flex;;
    position: fixed;
    list-style:none;
    text-transform: uppercase;
    padding: 2px;
        text-align: right;
  }
.footer
{
background-color:black;
font-family:Arial;
font-size:15px;
color:#fff;
padding:20px 20px 20px 20px;
text-align:center;
}
